.root {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.app-name {
    font-size: 26px;
    font-family: 'Oswald',sans-serif;
    font-weight: bold;
}

.has-gradient-text {
    background: -webkit-linear-gradient(#d323f3, #fd0c44);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.board {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    min-height: 0;
    min-width: 0;

    .board-bar {
        background: rgba(gray, 0.5);
        padding: 10px 15px;

        .board-name {
            font-size: 20px;
            font-weight: bold;
            color: white;
        }
    }

    .board-wrapper {
        display: flex;
        flex-grow: 1;
        overflow-x: auto;

        .board-columns {
            display: flex;
            flex-grow: 1;

            .board-column {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                flex-basis: 0;

                min-width: 350px;
                margin: 50px;
                padding: 25px;

                border-radius: 5px;

                background: rgba(white, 0.5);

                &:not(:first-child) {
                    margin-left: 0;
                }

                .column-title {
                    font-size: 20px;
                    font-weight: 800;
                    font-family: 'Oswald',sans-serif;
                    margin-bottom: 20px;
                }
            }
        }
    }  
}

.tasks-container {
    flex-grow: 1;
}

.task {
    display: flex;
    padding: 15px 12px;
    background: white;
    border-bottom: solid 1px #ddd;
    border-radius: 5px;
    margin-bottom: 15px;
}

